.App {
  font-family: sans-serif;
  // text-align: center;

  .comment-avatar {
    background: #faa2c1;
    border-radius: 66px 67px 67px 0px;
    width: 2rem;
    height: 2rem;
    padding: 4px;
    margin: 4px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
.layer-ui__wrapper__top-right.zen-mode-transition{
  display: none;
}
.parentDiv{
  display: grid;
  grid-template-columns: 72% 28%;
  grid-template-rows: auto;
}
.button-wrapper button {
  z-index: 1;
  height: 40px;
  max-width: 200px;
  margin: 8px;
  padding: 8px;
  background: white;
  border: 0.5px solid gray;
  border-radius: 4px;
}
.excalidraw .help-icon{
  display: none;
}
.excalidraw .App-menu_top .buttonList {
  display: flex;
}
.excalidraw .layer-ui__wrapper{
  width: 60%;
}
.excalidraw-wrapper {
  height: 64vh;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid slategray;
}

:root[dir="ltr"]
  .excalidraw
  .layer-ui__wrapper
  .zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}

.excalidraw .panelColumn {
  text-align: left;
}

.export-wrapper {
  display: flex;
  flex-direction: column;
  margin: 50px;

  &__checkbox {
    display: flex;
  }
}

.excalidraw {
  --color-primary: #faa2c1;
  --color-primary-darker: #f783ac;
  --color-primary-darkest: #e64980;
  --color-primary-light: #fcc2d7;

  button.custom-element {
    width: 2rem;
    height: 2rem;
    margin: 0 8px;
  }

  .custom-footer,
  .custom-element {
    padding: 0.1rem;
  }
}
.excalidraw .mobile-misc-tools-container{
  
}
.Stack.Stack_vertical.zoom-actions{
  display: none;
}
.sidebarr {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: darkseagreen;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebarr-header {
  text-align: center;
  color: white;
  padding: 10px;
}

.image-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image-list img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 10px;
}

.content {
  margin-left: 250px;
  padding: 16px;
}
   

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 9999999999999999999999;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 9999999999999999999999;
}

.dropdown-content img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}